<div class="container">
  <div class="display-container">
    <table>
      <thead>
        <tr>
          <th>{{ "id" | translate }}</th>
          <th>{{ "Project name" | translate }}</th>
          <th>{{ "Description" | translate }}</th>
          <th>{{ "Action" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let project of projects">
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.pname }}</td>
          <td>{{ project.desc }}</td>
          <td>
            <div>
              <button class="btn btn-action">{{ "Edit" | translate }}</button>
              <button class="btn btn-action">{{ "Delete" | translate }}</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-container">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="pname">{{ "Project's name" | translate }}</label>
        <input
          type="text"
          id="pname"
          placeholder="Your project's name"
          formControlName="pname"
        />
      </div>
      <div>
        <label for="desc">{{ "Description" | translate }}</label>
        <input
          type="text"
          id="desc"
          placeholder="Project description"
          formControlName="desc"
        />
      </div>
      <div>
        <button class="btn" type="submit">{{ "Submit" | translate }}</button>
      </div>
    </form>
  </div>
</div>
