<nav>
  <button class="btn btn-nav">
    <a routerLink="">{{ "home" | translate }}</a>
  </button>
  <button class="btn btn-nav" *ngIf="!authService.loggedIn()">
    <a routerLink="login">{{ "login" | translate }}</a>
  </button>
  <button class="btn btn-nav" *ngIf="!authService.loggedIn()">
    <a routerLink="signup">{{ "signup" | translate }}</a>
  </button>
  <button
    class="btn btn-nav"
    *ngIf="authService.loggedIn()"
    (click)="authService.logout()"
  >
    <a routerLink="signup">{{ "logout" | translate }}</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="users">{{ "dialog" | translate }}</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="projects">{{ "projects" | translate }}</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="ex1">ex1</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="ex2">ex2</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="ex3">ex3</a>
  </button>
  <select
    class="language"
    #selectedLang
    (change)="changeLang(selectedLang.value)"
  >
    <option
      *ngFor="let lang of translate.getLangs()"
      [value]="lang"
      [selected]="lang === translate.currentLang"
    >
      {{ lang }}
    </option>
  </select>
</nav>

<router-outlet> </router-outlet>
