<nav>
  <button class="btn btn-nav">
    <a routerLink="">Home</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="login">Login</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="users">Dialog</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="projects">Projects</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="ex1">ex1</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="ex2">ex2</a>
  </button>
  <button class="btn btn-nav">
    <a routerLink="ex3">ex3</a>
  </button>
</nav>
<router-outlet> </router-outlet>
